@model RaceAnalysis.Models.HypotheticalsViewModel  

@{ 
    //these vars needed to disambiguate the use of the bikerange slider in different hypotheticals
    var action = "Display" + Model.SelectedSplit;
    var updateDiv = Model.SelectedSplit + "Div";
    var timeRangeDiv = Model.SelectedSplit + "time-range-bike";
    var bikeSliderName = Model.SelectedSplit + "bike-slider";
    var bikeSliderSlowSpan = Model.SelectedSplit + "bikelowspan";
    var bikeSliderHighSpan = Model.SelectedSplit + "bikehighpan";
    var bikeLowTimeValue = Model.SelectedSplit + "_bikelowtimevalue";
    var bikeHighTimeValue = Model.SelectedSplit + "_bikehightimevalue";

}

<div id="filter-duration">
    <div id=@timeRangeDiv class="time-range">
        <label>Slide the handles to indicate your hypothetical bike split (min-to-max):</label>

        <div class="time-range-span">
            <span id="slider-lowtime" name="@bikeSliderSlowSpan">00:00</span> - <span id="slider-hightime" name="@bikeSliderHighSpan">17:00 hrs</span>
            @Html.Hidden(@bikeLowTimeValue, "", new { @class = "slider-lowtime-value" })
            @Html.Hidden(@bikeHighTimeValue, "", new { @class = "slider-hightime-value" })
            
        </div>
        <div class="slider-step">
            <div id="s1" class="slider-range" name="@bikeSliderName">   </div>
        </div>
        @Ajax.ActionLink("Apply...",
                        @action, "Hypotheticals",
                        null,
                        new AjaxOptions
                        {
                            UpdateTargetId = @updateDiv,
                            InsertionMode = InsertionMode.Replace,
                            HttpMethod = "GET",
                            OnBegin = "beginPost"
                        },
                        htmlAttributes: new { id = "BikeRangeSubmit", @class= "btn btn-default"})
    </div>


</div>


<script>
    $(document).ready(function () {
        $('#@timeRangeDiv').each(function () {

            $(this).find('#s1').empty().slider({
                range: true,
                min: 0,
                max: 1020,
                step: 15,
                values: [000, 1020],
                slide: function (e, ui) {
                    var hours1 = Math.floor(ui.values[0] / 60);
                    var minutes1 = ui.values[0] - (hours1 * 60);

                    if (hours1.length == 1) hours1 = '0' + hours1;
                    if (minutes1.length == 1) minutes1 = '0' + minutes1;
                    if (minutes1 == 0) minutes1 = '00';

                    $(this).parent().parent().find('#slider-lowtime').html(hours1 + ':' + minutes1);

                    var hours2 = Math.floor(ui.values[1] / 60);
                    var minutes2 = ui.values[1] - (hours2 * 60);

                    if (hours2.length == 1) hours2 = '0' + hours2;
                    if (minutes2.length == 1) minutes2 = '0' + minutes2;
                    if (minutes2 == 0) minutes2 = '00';

                    $(this).parent().parent().find('#slider-hightime').html(hours2 + ':' + minutes2 + " hrs");
                },
                stop: function (e, ui) {
                    $(this).parent().parent().find('.slider-lowtime-value').val(ui.values[0]);
                    $(this).parent().parent().find('.slider-hightime-value').val(ui.values[1]);

                }

            });
        });


        $('div[name=@bikeSliderName]').slider("option", "min", 0*60);
        $('div[name=@bikeSliderName]').slider("option", "max", 10*60);
        $('div[name=@bikeSliderName]').slider("option", "values", [@Model.Filter.BikeLow.TotalMinutes,@Model.Filter.BikeHigh.TotalMinutes]);
        $('span[name=@bikeSliderSlowSpan]').html('@Model.Filter.BikeLow.ToString("hh\\:mm")');
        $('span[name=@bikeSliderHighSpan]').html('@Model.Filter.BikeHigh.ToString("hh\\:mm")' + ' hrs');

    })

</script>

