@model RaceAnalysis.Models.HypotheticalsViewModel  

@{
    var action = "Display" + Model.SelectedSplit;
    var updateDiv = Model.SelectedSplit + "Div";
    var loadingDiv = "loading-area-" + updateDiv;

}


<div id="filter-duration">
    <div id="time-range-run" class="time-range">
        <label>Slide the handles to indicate your hypothetical run split (min-to-max):</label>

        <div class="time-range-span">
            <span id="slider-lowtime" name="runlowspan">00:00</span> - <span id="slider-hightime" name="runhighspan">17:00 hrs</span>
            @Html.Hidden("runlowtimevalue", "", new { @class = "slider-lowtime-value" })
            @Html.Hidden("runhightimevalue", "", new { @class = "slider-hightime-value" })
        </div>
        <div class="slider-step">
            <div id="s1" class="slider-range" name="run-slider">   </div>
        </div>
        @Ajax.ActionLink("Apply...",
                        @action, "Hypotheticals",
                        null,
                        new AjaxOptions
                        {
                            LoadingElementId = loadingDiv,
                            LoadingElementDuration = 500,
                            UpdateTargetId = @updateDiv,
                            InsertionMode = InsertionMode.Replace,
                            HttpMethod = "GET",
                            OnBegin = "beginPost"
                        },
                        htmlAttributes: new { id = "RunRangeSubmit", @class= "btn btn-default"})
    </div>


</div>


<script>
    $(document).ready(function () {
        $('#time-range-run').each(function () {
            $(this).find('#s1').empty().slider({
                range: true,
                min: 0,
                max: 1020,
                step: 15,
                values: [000, 1020],
                slide: function (e, ui) {
                    var hours1 = Math.floor(ui.values[0] / 60);
                    var minutes1 = ui.values[0] - (hours1 * 60);

                    if (hours1.length == 1) hours1 = '0' + hours1;
                    if (minutes1.length == 1) minutes1 = '0' + minutes1;
                    if (minutes1 == 0) minutes1 = '00';

                    $(this).parent().parent().find('#slider-lowtime').html(hours1 + ':' + minutes1);

                    var hours2 = Math.floor(ui.values[1] / 60);
                    var minutes2 = ui.values[1] - (hours2 * 60);

                    if (hours2.length == 1) hours2 = '0' + hours2;
                    if (minutes2.length == 1) minutes2 = '0' + minutes2;
                    if (minutes2 == 0) minutes2 = '00';

                    $(this).parent().parent().find('#slider-hightime').html(hours2 + ':' + minutes2 + " hrs");
                },
                stop: function (e, ui) {
                    $(this).parent().parent().find('.slider-lowtime-value').val(ui.values[0]);
                    $(this).parent().parent().find('.slider-hightime-value').val(ui.values[1]);

                }

            });
        });

      
        $('div[name=run-slider]').slider("option", "min", 0*60);
        $('div[name=run-slider]').slider("option", "max", 8*60);
        $('div[name=run-slider]').slider("option", "values", [@Model.Filter.RunLow.TotalMinutes,@Model.Filter.RunHigh.TotalMinutes]);
        $('span[name=runlowspan]').html('@Model.Filter.RunLow.ToString("hh\\:mm")');
        $('span[name=runhighspan]').html('@Model.Filter.RunHigh.ToString("hh\\:mm")' + ' hrs');

    })

</script>

