@model RaceAnalysis.Models.HypotheticalsViewModel

@{
    Layout = "~/Views/Layouts/_FullPageLayout.cshtml";
}

@section scripts {
<script type="text/javascript" src="https://cdn.plot.ly/plotly-latest.min.js"></script>
}


<form id="myForm">
    <div class="criteria">
   
    <span class="title">I am interested in this race:</span>
            @Html.ListBoxFor(m => m.Filter.SelectedRaceIds,
                      new SelectList(Model.Filter.AvailableRaces, "RaceId", "DisplayName"),
                      new { @id = "raceSelectId", @class = "selection" })
   
    
    <span class="title">I am a</span>
        @Html.ListBoxFor(m => m.Filter.SelectedGenderIds,
                new SelectList(Model.Filter.AvailableGenders, "GenderId", "DisplayName"),
                new { @id = "genderSelectId", @class = "selection" })

    <span class="title">in this age group: </span>@Html.ListBoxFor(m => m.Filter.SelectedAgeGroupIds,
                new SelectList(Model.Filter.AvailableAgeGroups, "AgeGroupId", "DisplayName"),
                new { @id = "agSelectId", @class = "selection" })

     <span class="title">In most races I am:</span>
        @Html.ListBoxFor(m => m.SelectedSkillLevel,
                new SelectList(Model.AvailableSkillLevels, "Value", "DisplayName"),
                new { @id = "skillLevelId", @class = "selection" })
    </div>


    <div class="hypothetical">
        @Ajax.ActionLink("What is my expected finish time?",
                        "FinishTime", "Hypotheticals",
                        null,
                        new AjaxOptions
                        {
                            UpdateTargetId = "ExpectedFinishTimeResults",
                            InsertionMode = InsertionMode.Replace,
                            HttpMethod = "GET",
                            OnBegin = "beginPost"
                        },
                        htmlAttributes: new { id = "ExpectedFinishTime" })
    </div>

    <div id="ExpectedFinishTimeResults"></div>

    <div class="hypothetical">
        @Ajax.ActionLink("If I bike this fast how would I compare with other athletes?",
                        "FinishTime", "Hypotheticals",
                        null,
                        new AjaxOptions
                        {
                            UpdateTargetId = "ExpectedFinishTimeResults",
                            InsertionMode = InsertionMode.Replace,
                            HttpMethod = "GET",
                            OnBegin = "beginPost"
                        },
                        htmlAttributes: new { id = "ExpectedFinishTime" })

    </div>



    <div class="hypothetical">
        @Ajax.ActionLink("If I swam this fast how would I compare with other athletes?",
                        "FinishTime", "Hypotheticals",
                        null,
                        new AjaxOptions
                        {
                            UpdateTargetId = "ExpectedFinishTimeResults",
                            InsertionMode = InsertionMode.Replace,
                            HttpMethod = "GET",
                            OnBegin = "beginPost"
                        },
                        htmlAttributes: new { id = "ExpectedFinishTime" })

    </div>

    <div class="hypothetical">
        @Ajax.ActionLink("If I biked this fast how fast should my run be?",
                        "FinishTime", "Hypotheticals",
                        null,
                        new AjaxOptions
                        {
                            UpdateTargetId = "ExpectedFinishTimeResults",
                            InsertionMode = InsertionMode.Replace,
                            HttpMethod = "GET",
                            OnBegin = "beginPost"
                        },
                        htmlAttributes: new { id = "ExpectedFinishTime" })

    </div>

</form>

    <script type="text/javascript">

    $(document).ready(function () {

        var $race_select = $("#raceSelectId").select2({
            placeholder: "Select Races...",
            width: '95%',
            theme: "bootstrap",
            maximumSelectionLength: 1
        });
        var $ag_select = $("#agSelectId").select2({
            placeholder: "My Age Group...",
            width: '95%',
            theme: "bootstrap",
            maximumSelectionLength: 1
        });
        var $gen_select = $("#genderSelectId").select2({
            placeholder: "My Gender...",
            width: '95%',
            theme: "bootstrap",
            maximumSelectionLength: 1
        });

        var $skill_select = $("#skillLevelId").select2({
            placeholder: "My Skill Level...",
            width: '95%',
            theme: "bootstrap",
            maximumSelectionLength: 1
        });



        $('#myForm').validate({
            ignore: 'input[type=hidden], .select2-input, .select2-focusser',
            errorElement: "div",
            errorPlacement: function (error, element) {
                element.after(error);
            }
        });
        /*
    * When you change the value the select via select2, it triggers
    * a 'change' event, but the jquery validation plugin
    * only re-validates on 'blur'
    */
        $race_select.on('change', function () {
            $(this).trigger('blur');
        });
        $ag_select.on('change', function () {
            $(this).trigger('blur');
        });
        $gen_select.on('change', function () {
            $(this).trigger('blur');
        });
        $skill_select.on('change', function () {
            $(this).trigger('blur');
        });

        $race_select.rules('add', 'required');
        $ag_select.rules('add', 'required');
        $gen_select.rules('add', 'required');
        $skill_select.rules('add', 'required');

    }());

    function beginPost(xhr, request) {
        var requester = $(this);
        //if (!validateForm(requester))/*TBD, validation  is not working*/
           // return false;

        var race = $("#raceSelectId").val();
        var ag = $("#agSelectId").val();
        var gender = $("#genderSelectId").val();
        var skill = $("#skillLevelId").val();
            
        if (race.length == 0 || ag.length == 0 || gender.length == 0 || skill.length == 0)//poor man's validation
            return false;

        var requestParams = request.url.split('?');
        request.url = requestParams[0] + "?races=" + race + "&agegroups=" + ag + "&genders=" + gender + "&skilllevel=" + skill;
    }
    function validateForm(requester)
    {
        var _form = requester.closest("form");
        var validator = $('#myForm').validate({
            ignore: 'input[type=hidden], .select2-input, .select2-focusser',
            errorElement: "div",
            errorPlacement: function (error, element) {
                element.after(error);
            }
        });
        //var validator = $("#myForm").validate(); // obtain validator
        var anyError = false;
     

        if (anyError)
            return false; // exit if any error found    

    }

 </script>

