@model RaceAnalysis.Models.Race

@{
    ViewBag.Title = "Race Conditions";
    Layout = "~/Views/Layouts/_Layout.cshtml";
}

<h3>@Model.DisplayName Conditions</h3>


<div>
<dl>
    <dd>
        <table class="table table-striped">
            <tr>
                <th></th>
                <th>Layout</th>
                <th>Medium</th>
                <th>Weather</th>
                <th>Other</th>
            </tr>

            <tr>
                <td>Swim</td>
                <td>@Html.DisplayFor(model => model.Conditions.SwimLayout)</td>
                <td>@Html.DisplayFor(model => model.Conditions.SwimMedium)</td>
                <td>@Html.DisplayFor(model => model.Conditions.SwimWeather)</td>
                <td>@Html.DisplayFor(model => model.Conditions.SwimOther)</td>
                
            </tr>
            <tr>
                <td>Bike</td>
                <td>@Html.DisplayFor(model => model.Conditions.BikeLayout)</td>
                <td>@Html.DisplayFor(model => model.Conditions.BikeMedium)</td>
                <td>@Html.DisplayFor(model => model.Conditions.BikeWeather)</td>
                <td>@Html.DisplayFor(model => model.Conditions.BikeOther)</td>
            </tr>
            <tr>
                <td>Run</td>
                <td>@Html.DisplayFor(model => model.Conditions.RunLayout)</td>
                <td>@Html.DisplayFor(model => model.Conditions.RunMedium)</td>
                <td>@Html.DisplayFor(model => model.Conditions.RunWeather)</td>
                <td>@Html.DisplayFor(model => model.Conditions.RunOther)</td>
            </tr>

        </table>
    </dd>

</dl>
</div>