@model RaceAnalysis.Models.RaceFilterViewModel

@using RaceAnalysis.Models;

@{
    ViewBag.Title = "Races";
    Layout = "~/Views/Layouts/_Layout.cshtml";
    ViewBag.BodyClass = "fullpage";

    var queryViewModel = new SimpleFilterViewModel
    {
        //Races = "",
        AgeGroups = "0", //this will allow us to pass these as params and possibly use them in the future
        Genders = "0",

    };
}
<script src="~/Scripts/jquery.rowselector.min.js"></script>


 
    <div class="search-results-preface">

        @Html.ActionLink("View Results", "Display", "TriStats",
                 queryViewModel, new { @id = "action-stats", @class = "btn btn-default", title = "Display detailed stats" })
    </div>
<div id="accordian" class="race-list">

    <header>1. Click on one or more rows to select a race...</header>
    <div>

        @Html.Partial("~/Views/Shared/_OnePageOfRaces.cshtml", Model.AvailableRaces)
    </div>

    <header>2. Select the Age Groups/Divisions that you are interested in...</header>
    <div>

        @Html.Partial("~/Views/Shared/_TableOfAgeGroups.cshtml", Model.AvailableAgeGroups)
    </div>
 
    <header>3. Select a gender to futher narrow the results...</header>
    <div>
        @Html.Partial("~/Views/Shared/_TableOfGenders.cshtml", Model.AvailableGenders)
    </div>

    <header>4. You may further narrow the results by duration (advanced geek)</header>
    <div id="duration-filter-container">
        @Html.Partial("~/Views/Shared/_FilterByDuration.cshtml", Model)
    </div>
</div>
    <div class="search-results-post">
    @Html.ActionLink("View Results", "Display", "TriStats",
                 queryViewModel, new { @id = "action-stats2", @class = "btn btn-default", title = "Display detailed stats" })

    </div>


<script type="text/javascript">

    $(document).ready(function () {
        $("#accordian").accordion({
            heightStyle: "content"
        });

    });


        $('#config-form').on('submit', function (evt) {
            evt.preventDefault();
        });

        $('.btn-default').on('click', actionSelected);
        $('.btn-default').attr("disabled", true); //disable until user selects rows

        function actionSelected(evt) {
            if ($('.btn-default').attr('disabled') == 'disabled') {
                return false;
            }

            var selected = [];
            $('#race-table').selectedrows().each(function (idx, el) {
                if (el.id.length > 0) {
                    selected.push(el.id);
                }
            });
            if (selected.length > 0) {

                this.href += "&Races=" + selected.join(', ');
            }
            else {
                return false;
            }

        }


        //$('#action-stats').on('click', actionSelected);

        $('#select-type').on('change', function (evt) {
            $('#race-table').attr('data-rs-type', $(this).val());
            //alert("onchange-rs-type");
        });


        $('#select-class').on('change', function (evt) {
            $('#race-table').attr('data-rs-class', $(this).val());

            //alert("onchange rs-class");
        });


        $('#race-table').on('clicked.rs.row', function (evt) {

            var numrows = $(this).selectedrows().length;
            if (numrows > 0) {
                $('.btn-default').attr("disabled", false);
            }
            else {
                $('.btn-default').attr("disabled", true);

            }

        });


</script>
