@model RaceAnalysis.Models.RaceFilterViewModel

@using RaceAnalysis.Models;

@{
    ViewBag.Title = "Races";
    Layout = "~/Views/Layouts/_Layout.cshtml";
    ViewBag.BodyClass = "fullpage";

    AjaxOptions ajaxOptions = new AjaxOptions
    {

        Url = Url.Action("RacesSearchByName"),
        LoadingElementId = "loading-area",
        LoadingElementDuration = 1000,
        UpdateTargetId = "race-div",
        OnSuccess = "OnSearchSuccess",

    };
}

@section scripts{
<link rel="stylesheet" type="text/css" href="~/Content/typeahead.css" />

<script  src="~/Scripts/modal.js"></script>
<script src="~/Scripts/jquery.rowselector.min.js"></script>
<script src="~/Scripts/typeahead.bundle.min.js"></script>
<script src="~/Scripts/typeahead.raceanalysis.mvc.model.js?v=3"></script>
}

<div id="modal-container" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-content">
       
    </div>
</div>
<div id="race-selection-toolbar">
    <div class="col-sm-3" style="padding-top:10px" data-toggle="buttons" id="race-distance-div">

        @Ajax.ActionLink("140.6", "RaceDistanceToggle", "Races",
                routeValues: new
                {
                    distance = "140.6",
                },
                ajaxOptions: new AjaxOptions { UpdateTargetId = "race-div" },
                htmlAttributes: new { @class = "btn btn-primary race-distance active", @type = "radio", @id = "full" }
                )
        @Ajax.ActionLink("70.3", "RaceDistanceToggle", "Races",
                 routeValues: new
                 {
                     distance = "70.3",
                 },
                 ajaxOptions: new AjaxOptions { UpdateTargetId = "race-div" },
                 htmlAttributes: new { @class = "btn btn-primary race-distance", @type = "radio", @id = "half" }
                 )

    </div>
    <div class="col-sm-9" style="padding-top:10px">
        <div class="form-inline">
            @using (Ajax.BeginForm(ajaxOptions))
            {
                @Html.AntiForgeryToken()

                <div class="race-list-search-form">
                    @Html.AutocompleteFor(model => model.SelectedRaceNames, model => model.SelectedRaceNames, "TypeaheadRaceSearch",
                            "Races", false,
                            new
                            {
                                htmlAttributes = new { placeholder = "Search Races", type = "search" }
                            })

                    <button type="submit" id="submitRaceSearch" style="display:none" class="btn btn-primary">Search</button>


                </div>
            }
        </div>
    </div>
</div>

 @using (Html.BeginForm("DisplayStats", "TriStats", FormMethod.Post, new { @id = "myForm" }))
 {
         
    <div class="search-results-preface">
        @Html.ActionLink("I don't see my race...",
                         "ShowRaceRequest", "Race",
                        new { id = "XXShowRaceRequestLink", @class = "modal-link" })


        <button type="submit" id="action-stats" class="btn btn-default btn-results">View Results</button>
    </div>
    <div id="accordian" class="race-list">

    <header>1. Click on one or more rows to select the races you are interested in
    @Html.ActionLink("I don't see my race...",
                         "ShowRaceRequest", "Race",
                        new { id = "ShowRaceRequestLink", @class = "modal-link" })
    </header>
    <div>    
        <div class="col-sm-12" id="race-div">
            @Html.Partial("~/Views/Shared/_OnePageOfRaces.cshtml", Model)
        </div>
    </div>
    <header>2. Select the Age Groups/Divisions that you are interested in (optional)</header>
    <div>

        @Html.Partial("~/Views/Shared/_TableOfAgeGroups.cshtml", Model.AvailableAgeGroups)
    </div>
 
    <header>3. Select a gender to futher narrow the results (optional)</header>
    <div>
        @Html.Partial("~/Views/Shared/_TableOfGenders.cshtml", Model.AvailableGenders)
    </div>

    <header>4. You may further narrow the results by duration (advanced geek)</header>
    <div id="duration-filter-container">
        @Html.Partial("~/Views/Shared/_FilterByDuration.cshtml", Model)
    </div>
   </div>
    <div class="search-results-post">
        <button type="submit" id= "action-stats2" class="btn btn-default btn-results">View Results</button>
    </div>
  
 }
<script type="text/javascript">

    var _SelectedRaces;
    
    $(document).ready(function () {

        
        $('input[type=search]').on('search', function () {
            // search logic here
            $("#SelectedRaceId").val("0");
            // this function will be executed on click of X (clear button)
            $(":submit").submit();
        });
        

        $("#accordian").accordion({
            heightStyle: "content"
        });

        
        var distance = @Html.Raw(Json.Encode(Model.Distance));

        if (distance == "70.3")
        {
            $('#half').addClass("active");
            $('#full').removeClass("active");
        }
        $('#full').click(function () {
            $(this).addClass("active");
            $('#half').removeClass("active");

            });
        $('#half').click(function () {
            $(this).addClass("active");
            $('#full').removeClass("active");

            });

        });

        //when the search is utilized the results could be either half or full
        function OnSearchSuccess() {
            $('#half').removeClass("active");
            $('#full').removeClass("active");

        }


        //$('#config-form').on('submit', function (evt) {
        //    evt.preventDefault();
        //});

      //  $('.btn-default').on('click', actionSelected);
        $('.btn-results').attr("disabled", true); //disable until user selects rows

      //  function actionSelected(evt) {
        $("#myForm").submit(function (event) {

            if ($('.btn-results').attr('disabled') == 'disabled') {
                return false;
            }

            
            var races = _SelectedRaces.split(','); //value set in child view
            for (var r in races) {
                var id = races[r].trim();
                if(id.length > 0)
                {
                    $('<input />').attr('type', 'hidden')
                           .attr('name', 'SelectedRaceIds')
                           .attr('value',id)
                           .appendTo('#myForm');
                }
             }
            

            $('#agegroup-table').selectedrows().each(function (idx, el) {
                if (el.id.length > 0) {
                    $('<input />').attr('type', 'hidden')
                       .attr('name', 'SelectedAgeGroupIds')
                       .attr('value', el.id)
                       .appendTo('#myForm');
                }
            });

            $('#gender-table').selectedrows().each(function (idx, el) {
                if (el.id.length > 0) {
                    if (el.id.length > 0) {
                        $('<input />').attr('type', 'hidden')
                           .attr('name', 'SelectedGenderIds')
                           .attr('value', el.id)
                           .appendTo('#myForm');
                    }
                }
            });

     
        });


        //$('#action-stats').on('click', actionSelected);

        $('#select-type').on('change', function (evt) {
            $('#race-table').attr('data-rs-type', $(this).val());
            //alert("onchange-rs-type");
        });


        $('#select-class').on('change', function (evt) {
            $('#race-table').attr('data-rs-class', $(this).val());

            //alert("onchange rs-class");
        });


        $('#race-table').on('clicked.rs.row', function (evt) {
            var numrows = $(this).selectedrows().length;
            if (numrows > 0) {
                $('.btn-results').attr("disabled", false);
            }
            else {
                $('.btn-results').attr("disabled", true);

            }
        });


</script>
