@model RaceAnalysis.Models.RaceFilterViewModel

@using RaceAnalysis.Models;

@{
    ViewBag.Title = "Races";
    Layout = "~/Views/Layouts/_Layout.cshtml";
    ViewBag.BodyClass = "fullpage";

   
}
<script  src="~/Scripts/modal.js"></script>

<script src="~/Scripts/jquery.rowselector.min.js"></script>

<div id="modal-container" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-content">
       
    </div>
</div>

 @using (Html.BeginForm("ViewResults", "TriStats", FormMethod.Post, new { @id = "myForm" }))
 {
  
    <div class="search-results-preface">
        @Html.ActionLink("I don't see my race...",
                         "ShowRaceRequest", "Race",
                        new { id = "XXShowRaceRequestLink", @class = "modal-link" })


        <button type="submit" id="action-stats" class="btn btn-default">View Results</button>
    </div>
<div id="accordian" class="race-list">

    <header>1. Click on one or more rows to select a race
    @Html.ActionLink("I don't see my race...",
                         "ShowRaceRequest", "Race",
                        new { id = "ShowRaceRequestLink", @class = "modal-link" })
    </header>


    
    <div>

        @Html.Partial("~/Views/Shared/_OnePageOfRaces.cshtml", Model.AvailableRaces)
    </div>

    <header>2. Select the Age Groups/Divisions that you are interested in (optional)</header>
    <div>

        @Html.Partial("~/Views/Shared/_TableOfAgeGroups.cshtml", Model.AvailableAgeGroups)
    </div>
 
    <header>3. Select a gender to futher narrow the results (optional)</header>
    <div>
        @Html.Partial("~/Views/Shared/_TableOfGenders.cshtml", Model.AvailableGenders)
    </div>

    <header>4. You may further narrow the results by duration (advanced geek)</header>
    <div id="duration-filter-container">
        @Html.Partial("~/Views/Shared/_FilterByDuration.cshtml", Model)
    </div>
</div>
    <div class="search-results-post">
        <button type="submit" id= "action-stats2" class="btn btn-default">View Results</button>
    </div>

 }
<script type="text/javascript">

    $(document).ready(function () {
        $("#accordian").accordion({
            heightStyle: "content"
        });

    });


        //$('#config-form').on('submit', function (evt) {
        //    evt.preventDefault();
        //});

      //  $('.btn-default').on('click', actionSelected);
        $('.btn-default').attr("disabled", true); //disable until user selects rows

      //  function actionSelected(evt) {
        $("#myForm").submit(function (event) {

            if ($('.btn-default').attr('disabled') == 'disabled') {
                return false;
            }

            $('#race-table').selectedrows().each(function (idx, el) {
                if (el.id.length > 0) {
                    $('<input />').attr('type', 'hidden')
                       .attr('name', 'SelectedRaceIds')
                       .attr('value',el.id)
                       .appendTo('#myForm');
                }
            });

            $('#agegroup-table').selectedrows().each(function (idx, el) {
                if (el.id.length > 0) {
                    $('<input />').attr('type', 'hidden')
                       .attr('name', 'SelectedAgeGroupIds')
                       .attr('value', el.id)
                       .appendTo('#myForm');
                }
            });

            $('#gender-table').selectedrows().each(function (idx, el) {
                if (el.id.length > 0) {
                    if (el.id.length > 0) {
                        $('<input />').attr('type', 'hidden')
                           .attr('name', 'SelectedGenderIds')
                           .attr('value', el.id)
                           .appendTo('#myForm');
                    }
                }
            });
        });


        //$('#action-stats').on('click', actionSelected);

        $('#select-type').on('change', function (evt) {
            $('#race-table').attr('data-rs-type', $(this).val());
            //alert("onchange-rs-type");
        });


        $('#select-class').on('change', function (evt) {
            $('#race-table').attr('data-rs-class', $(this).val());

            //alert("onchange rs-class");
        });


        $('#race-table').on('clicked.rs.row', function (evt) {

            var numrows = $(this).selectedrows().length;
            if (numrows > 0) {
                $('.btn-default').attr("disabled", false);
            }
            else {
                $('.btn-default').attr("disabled", true);

            }

        });


</script>
