@model RaceAnalysis.Models.RaceFilterViewModel

@using RaceAnalysis.Models;

@{
    ViewBag.Title = "Races";
    Layout = "~/Views/Layouts/_Layout.cshtml";
    ViewBag.BodyClass = "fullpage";

    var queryViewModel = new SimpleFilterViewModel
    {
        //Races = "",
        AgeGroups = "0", //this will allow us to pass these as params and possibly use them in the future
        Genders = "0",

    };
}
<script src="~/Scripts/jquery.rowselector.min.js"></script>


 
    <div class="search-results-preface">

        @Html.ActionLink("View Results", "Display", "TriStats",
                 queryViewModel, new { @id = "action-stats", @class = "btn btn-default", title = "Display detailed stats" })
    </div>
<div id="accordian" class="race-list">

    <header>1. Click on one or more rows to select a race...</header>
    <div>

        @Html.Partial("~/Views/Shared/_OnePageOfRaces.cshtml", Model.AvailableRaces)
    </div>

    <header>2. Select an Age Group that you are interested in...</header>
    <div class="form-group">
        @Html.ListBoxFor(m => m.SelectedAgeGroupIds,
                new SelectList(Model.AvailableAgeGroups, "AgeGroupId", "DisplayName"),
                new { @id = "agSelectId", multiple = "multiple" })
    </div>


    <header>3. Select a gender to futher narrow the results...</header>
    <div class="form-group">
        @Html.ListBoxFor(m => m.SelectedGenderIds,
                new SelectList(Model.AvailableGenders, "GenderId", "DisplayName"),
                new { @id = "genderSelectId", multiple = "multiple", })
    </div>
</div>
    <div class="search-results-post">
    @Html.ActionLink("View Results", "Display", "TriStats",
                 queryViewModel, new { @id = "action-stats2", @class = "btn btn-default", title = "Display detailed stats" })

    </div>


<script type="text/javascript">

    $(document).ready(function () {

        var $ag_select = $("#agSelectId").SumoSelect({
            placeholder: "Select Age Groups...",
            selectAll: true,
            captionFormat: '{0} Age Groups Selected',
            captionFormatAllSelected: 'All age groups selected'
        });
        var $gen_select = $("#genderSelectId").SumoSelect({
            placeholder: "Select Genders..",
        });
        $("#accordian").accordion({
            
        });

    });


        $('#config-form').on('submit', function (evt) {
            evt.preventDefault();
        });

        $('.btn-default').on('click', actionSelected);
        $('.btn-default').attr("disabled", true); //disable until user selects rows

        function actionSelected(evt) {
            if ($('.btn-default').attr('disabled') == 'disabled') {
                return false;
            }

            var selected = [];
            $('#race-table').selectedrows().each(function (idx, el) {
                if (el.id.length > 0) {
                    selected.push(el.id);
                }
            });
            if (selected.length > 0) {

                this.href += "&Races=" + selected.join(', ');
            }
            else {
                return false;
            }

        }


        //$('#action-stats').on('click', actionSelected);

        $('#select-type').on('change', function (evt) {
            $('#race-table').attr('data-rs-type', $(this).val());
            //alert("onchange-rs-type");
        });


        $('#select-class').on('change', function (evt) {
            $('#race-table').attr('data-rs-class', $(this).val());

            //alert("onchange rs-class");
        });


        $('#race-table').on('clicked.rs.row', function (evt) {

            var numrows = $(this).selectedrows().length;
            if (numrows > 0) {
                $('.btn-default').attr("disabled", false);
            }
            else {
                $('.btn-default').attr("disabled", true);

            }

        });


</script>
