@model RaceAnalysis.Models.RaceConditionsViewModel

@{
    ViewBag.Title = "Add Race Conditions";
}


<div class="form-horizontal">
    <h4>Race Conditions</h4>
    <hr />

    <div>
        @Html.ActionLink("Back to List", "admin", "races")
    </div>
    <hr />

    
    @using (Html.BeginForm("Edit", "RaceConditions", FormMethod.Post, new { @id = "myForm" }))
    {
        @Html.AntiForgeryToken()

        @Html.Hidden("raceId", @Model.Race.RaceId)

        <label class="control-label">Select the words that describe the swim:</label>

        foreach(var item in Model.SwimCloud)
        { 
          <div class="tags">
                @Ajax.ActionLink(item.text,
                        "Vote", "RaceConditions",
                        new { @tagid = item.TagId },
                            new AjaxOptions
                            {

                                OnSuccess = "onSuccess"
                            },
                            htmlAttributes: new { id = item.TagId , @class="btn btn-default"})
            </div>
        }

        <label class="control-label">or add your own:</label>




    }
</div>

<div>
    @Html.ActionLink("Back to List", "admin", "races")
</div>

@section Scripts {
    <script>
        $(document).ready(function () {

          
        });

        function onSuccess(data) { /*data is tagId*/

            $("#" + data).attr('class', 'btn btn-success');
            $("#" + data).attr("disabled", true);
        }
    </script>

}
