@model IEnumerable<RaceAnalysis.Models.RaceConditions>

@{
    ViewBag.Title = "Race Conditions";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SwimLayout)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BikeLayout)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RunLayout)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SwimLayout)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BikeLayout)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RunLayout)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RaceConditionsId }) |
            @Html.ActionLink("Details", "Details", new { id=item.RaceConditionsId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RaceConditionsId })
        </td>
    </tr>
}

</table>
