@model RaceAnalysis.Models.HomePageViewModel

@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Layouts/_HomePageLayout.cshtml";

}

<!-- bxSlider Javascript file -->
<script src="~/Scripts/jquery.bxslider.js"></script>
<script src="~/Scripts/jquery.rowselector.min.js"></script>

<!-- bxSlider CSS file -->
<link href="~/Content/jquery.bxslider.css" rel="stylesheet" />
<style>
    *.unselectable {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .table-striped > tbody > tr:nth-child(odd).selected > td {
        background-color: #9FAFD1;
    }

    .table-striped > tbody > tr:nth-child(even).selected > td {
        background-color: #B0BED9;
    }

    .table-striped > tbody > tr:nth-child(odd).bnw > td {
        background-color: #2b2b2b;
        color: #f2f2f2;
    }

    .table-striped > tbody > tr:nth-child(even).bnw > td {
        background-color: #f2f2f2;
        color: #2b2b2b;
    }
</style>


<div class= "home-header" >
    <h2>Research. Analyze. Geek Out.</h2>
    <p class="lead"></p>
    <p class="lead">If you came here looking for Tri <em>Tats</em>, we can't design one for you, 
     but we may be able to help you earn your next one. </p>
    <div class="home-about">
      
    </div>
</div>

<!--
<div class="row">
    <div class="col-md-12">
        <ul class="bxslider">
            <li><img src="~/Content/images/shutterstock2.jpg" title="my caption here" /></li>
            <li><img src="~/Content/images/tristats-share.jpg" title="my caption here" /></li>
            <li><img src="~/Content/images/shutterstock_448957918.jpg" title="my caption here" /></li>
            <li>
                @Html.Partial("_FastestRacesBike", Model)
            </li>
        </ul>
        </div>
</div>
-->
<div class="row">

    <div class="col-sm-4">
        <div class="feature-callout">
            <h3>Most Recent Races</h3>
            @Html.Partial("_MostRecentRaces", Model)
        </div>
    </div>

        <div class="col-sm-4">
            <div class="feature-callout">
                <h3>Fastest Ironman Finishes</h3>
                @Html.Partial("_FastestRacesFinish", Model)
            </div>
        </div>
</div>

<div class="row">
    <div class="col-sm-4">
        <div class="feature-callout">
            <h3>Fastest Ironman Swims</h3>
            @Html.Partial("_FastestRacesSwim", Model)
        </div>
    </div>

    <div class="col-sm-4">
        <div class="feature-callout">
            <h3>Fastest Ironman Bikes</h3>
            @Html.Partial("_FastestRacesBike", Model)
    </div>
        </div>

    <div class="col-sm-4">
        <div class="feature-callout">
            <h3>Fastest Ironman Runs</h3>
                @Html.Partial("_FastestRacesRun", Model)
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <div class="feature-callout">
            <h3>Fastest IM Males</h3>
            @Html.Partial("_FastestMaleFinishIM", Model)
        </div>
    </div>
    <div class="col-sm-4">
        <div class="feature-callout">
            <h3>Fastest IM Females</h3>
            @Html.Partial("_FastestFemaleFinishIM", Model)
        </div>
    </div>
</div>




    <script type="text/javascript">

        $(document).ready(function () {

            $('.bxslider').bxSlider(
                {
                    adaptiveHeight: false,
                    auto: true,
                    captions: true
                }

            );
        });


    </script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.table').on('clicked.rs.row', function (evt) {
            var rows = $(this).selectedrows();
            var dir =  document.URL.substr(0, document.URL.lastIndexOf('/'));
            location.href = dir + "/GetRace?raceId=" + rows[0].id; 
         });

        $('#athletes-table').on('clicked.rs.row', function (evt) {
            var rows = $(this).selectedrows();
            var dir = document.URL.substr(0, document.URL.indexOf('/'));
            location.href = dir + "/athletes/search?name=" + rows[0].id;
            
        });

    });
</script>
'