@model RaceAnalysis.Models.TriathletesCompareViewModel

<div class="table-responsive">
    <table class="table table-striped">
        <tbody>
            <tr>
                <td>
                    Fastest Finish: <b>@Model.Stats.FastestFinisher.Name</b> (@Model.Stats.FastestFinisher.Race.DisplayName), at <b>@Model.Stats.FastestFinisher.Finish.ToString()</b>
                </td>
            </tr>
          
            <tr>
                <td>
                    Fastest Swim: <b>@Model.Stats.FastestSwimmer.Name</b> (@Model.Stats.FastestSwimmer.Race.DisplayName) at <b>@Model.Stats.FastestSwimmer.Swim.ToString()</b>
                </td>
            </tr>
            <tr>
                <td>
                  Bastest Bike: <b>@Model.Stats.FastestBiker.Name</b> (@Model.Stats.FastestBiker.Race.DisplayName) at  <b>@Model.Stats.FastestBiker.Bike.ToString()</b>
                </td>
            </tr>
           
            <tr>
                <td>
                  Fastest Run: <b>@Model.Stats.FastestRunner.Name</b> (@Model.Stats.FastestRunner.Race.DisplayName) at <b>@Model.Stats.FastestRunner.Run.ToString()</b></td>
            </tr>

        </tbody>
    </table>
</div>