
@model RaceAnalysis.Models.BaseViewModel
@{
    ViewBag.Title = "Athletes List";
    Layout = "~/Views/Layouts/_AnalysisLayout.cshtml";
}


<!-- import the included stylesheet for some (very basic) default styling -->
<link href="/Content/PagedList.css" rel="stylesheet" type="text/css" />


<h2>Athletes List</h2>
<p>
</p>

@section filter{
  
        @if (Model.Triathletes.Any())
        {
            @Html.ActionLink("Filter by Duration", "ShowFilterByDuration", null,
                        new
                        {
                            races = @String.Join(",", Model.Filter.SelectedRaces.Select(x => x.RaceId.ToString()).ToArray()),
                            agegroups = @String.Join(",", Model.Filter.SelectedAgeGroups.Select(x => x.AgeGroupId.ToString()).ToArray()),
                            genders = @String.Join(",", Model.Filter.SelectedGenders.Select(x => x.GenderId.ToString()).ToArray())
                        },
                        new { @class = "modal-link btn btn-duration", title = "Filter by Time" })
        }
}

@section results{
    @if (Model.Triathletes != null)
    {
     
          @Html.Partial("~/Views/Shared/_PagedList.cshtml",Model);
    }
}