@model BaseViewModel
@using RaceAnalysis.Models;

@{ 
    var queryViewModel = new SimpleFilterViewModel
    {
        Races = @String.Join(",", Model.Filter.SelectedRaceIds.Select(x => x.ToString()).ToArray()),
        AgeGroups = @String.Join(",", Model.Filter.SelectedAgeGroupIds.Select(x => x.ToString()).ToArray()),
        Genders = @String.Join(",", Model.Filter.SelectedGenderIds.Select(x => x.ToString()).ToArray()),

        swimlowtimevalue = Model.Filter.SwimLow.TotalMinutes.ToString(),
        swimhightimevalue = Model.Filter.SwimHigh.TotalMinutes.ToString(),

        bikelowtimevalue = Model.Filter.BikeLow.TotalMinutes.ToString(),
        bikehightimevalue = Model.Filter.BikeHigh.TotalMinutes.ToString(),

        runlowtimevalue = Model.Filter.RunLow.TotalMinutes.ToString(),
        runhightimevalue = Model.Filter.RunHigh.TotalMinutes.ToString(),

        finishlowtimevalue = Model.Filter.FinishLow.TotalMinutes.ToString(),
        finishhightimevalue = Model.Filter.FinishHigh.TotalMinutes.ToString()

    };
}


<ul class="nav nav-tabs">
    <li>
        @Html.ActionLink("Summary", "SelectedRaces", "TriStatsSummary",
                 queryViewModel, new { @id = "action-summary", title = "Display histogram" })
    </li>

    <li>
        @Html.ActionLink("Details", "SelectedRaces", "TriStats",
                 queryViewModel, new { @id = "action-stats",title = "Display detailed stats" })
    </li>
    <li>
        @Html.ActionLink("Bike and Run", "SelectedRaces", "CompareBikeRun",
                  queryViewModel, new { @id = "action-comparebikerun", title = "Compare bike and run" })
    </li>
    <li>
        @Html.ActionLink("Athletes", "SelectedRaces", "TriAthletes",
                 queryViewModel, new { @id = "action-athletes", title = "Display selected athletes" })
    </li>
    <li>
        @Html.ActionLink("Compare Age Groups", "SelectedRaces", "TriStatsAgeGroupsCompare",
                  queryViewModel, new { @id = "action-compareages", title = "Compare selected age groups" })
    </li>
    <li>
        @Html.ActionLink("Compare Races", "SelectedRaces", "CompareRaces",
                  queryViewModel, new { @id = "action-compareraces", title = "Compare selected races" })

    </li>
</ul>

    <script>
        $(document).ready(function () {
            $('#@ViewBag.Action').parent("li").addClass("active");
        });
    </script>

