@model RaceAnalysis.Models.TriathletesViewModel



<link rel="stylesheet" type="text/css" href="~/Content/DataTables/css/dataTables.bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.dataTables.min.css" />



<script src="~/Scripts/DataTables/jquery.dataTables.js"></script>
<script type="text/javascript" language="javascript" src="~/Scripts/DataTables/dataTables.bootstrap.js"></script>
<script type="text/javascript" language="javascript" src="http://cdn.datatables.net/responsive/2.1.1/js/dataTables.responsive.min.js"></script>

   <table id="athletes-table" class="table table-striped" width="100%" cellspacing="0">
        <thead>
            <tr>

                <th>Race</th>

                <th>Name</th>
                <th>
                    @Html.DisplayNameFor(model => model.Triathletes.ElementAt(0).Swim)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Triathletes.ElementAt(0).Bike)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Triathletes.ElementAt(0).Run)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Triathletes.ElementAt(0).Finish)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Triathletes.ElementAt(0).Country)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Triathletes.ElementAt(0).DivRank)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Triathletes.ElementAt(0).GenderRank)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Triathletes.ElementAt(0).OverallRank)
                </th>
            </tr>
        </thead>
       
    </table>
 

 
    <script type="text/javascript">
        $(document).ready(function () {
        $('#athletes-table').DataTable({
            "dom": '<"top"flp<"clear">>rt<"bottom"ip<"clear">>',
            "deferRender": true,
            "serverSide": true,
            "searchDelay": 800,
            "responsive":true,
            "autoWidth": true,
            "stateSave": true,
            "processing": true, // for show progress bar
            "initComplete": function (settings, json) {
     //           alert('DataTables has finished its initialisation.');
                debugger;
            },
            "ajax": {
                "url": "/Triathletes/GetAthletes",
                "type": "POST",
                "datatype": "json"
            },

            "columns": [
                {
                    "data": "RequestContext.Race.DisplayName",
                    "name": "RequestContext.Race.DisplayName",
                    "defaultContent": "--",
                    "autoWidth": true
                },
                {
                    "data": "Name",
                    "name": "Name",
                    "autoWidth": true
                },
           
               
                { "data": "Swim", "name": "Swim", "autoWidth": true },
                { "data": "Bike", "name": "Bike", "autoWidth": true },
                { "data": "Run", "name": "Run", "autoWidth": true },
                { "data": "Finish", "type": "datetime", "name": "Finish", "autoWidth": true },
                { "data": "Country","name": "Country", "autoWidth": true },
                { "data": "DivRank","name": "DivRank", "autoWidth": true },
                { "data": "GenderRank","name": "GenderRank", "autoWidth": true },
                { "data": "OverallRank","name": "OverallRank", "autoWidth": true },
              

            ]
        });
    });
  </script>
