@model RaceAnalysis.Models.TriathletesViewModel


<style>
    *.unselectable {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .table-striped > tbody > tr:nth-child(odd).selected > td {
        background-color: #9FAFD1;
    }

    .table-striped > tbody > tr:nth-child(even).selected > td {
        background-color: #B0BED9;
    }

    .table-striped > tbody > tr:nth-child(odd).bnw > td {
        background-color: #2b2b2b;
        color: #f2f2f2;
    }

    .table-striped > tbody > tr:nth-child(even).bnw > td {
        background-color: #f2f2f2;
        color: #2b2b2b;
    }
</style>

<div id="athlete-table-div" class="table-responsive">

    <table id="athletes-table" class="table table-striped" data-rs-selectable data-rs-type="many">
        <thead>
            <tr>
                <th>Race Name</th>
                <th>Linked Name</th>
                <th>
                    @Html.DisplayNameFor(model => model.Triathletes.ElementAt(0).Country)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Triathletes.ElementAt(0).DivRank)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Triathletes.ElementAt(0).GenderRank)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Triathletes.ElementAt(0).OverallRank)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Triathletes.ElementAt(0).Swim)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Triathletes.ElementAt(0).Bike)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Triathletes.ElementAt(0).Run)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Triathletes.ElementAt(0).Finish)
                </th>

            </tr>
        </thead>
        <tbody>
           
            @foreach (var athlete in Model.Triathletes)
            {
                <tr onclick="" id="@athlete.TriathleteId">
                    <td>
                        @athlete.Race.DisplayName
                    </td>
                    <td>
                        @Html.Raw(String.Format("<a href='{0}/{1}' target='_blank'>{2}</a>", athlete.Race.BaseURL, athlete.Link, athlete.Name))
                    </td>
                    <td>
                        @athlete.Country
                    </td>
                    <td>
                        @athlete.DivRank
                    </td>
                    <td>
                        @athlete.GenderRank
                    </td>
                    <td>
                        @athlete.OverallRank
                    </td>

                    <td>
                        @athlete.Swim
                    </td>
                    <td>
                        @athlete.Bike
                    </td>
                    <td>
                        @athlete.Run
                    </td>
                    <td>
                        @athlete.Finish
                    </td>
                    
                </tr>
               
            }


        </tbody>
    </table>
 </div>

