@model RaceAnalysis.Models.TriStats

<div>
    <div>Race: @Html.DisplayFor(r => Model.Race.DisplayName)</div>
    <div>Count: @Html.DisplayFor(a => Model.Athletes.Count)</div>
    @if (Model.Race.Conditions != null)
            {
        <div>Swim Conditions: @Html.DisplayFor(r => Model.Race.Conditions.SwimGeneral)</div>
                <div>Bike Conditions: @Html.DisplayFor(r => Model.Race.Conditions.BikeGeneral)</div>
                <div>Run Conditions:  @Html.DisplayFor(r => Model.Race.Conditions.RunGeneral)</div>
    }
</div>

