@model RaceAnalysis.Models.RaceConditions


@using (Html.BeginForm())
{

    <div class="form-horizontal">
        <h4>Race Conditions</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.SwimLayout, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SwimLayout,null,"Conditions.SwimLayout", new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SwimLayout, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BikeLayout, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BikeLayout,null,"Conditions.BikeLayout", new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BikeLayout, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RunLayout, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RunLayout, null, "Conditions.RunLayout", new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.RunLayout, "", new { @class = "text-danger" })
            </div>
        </div>
               
    </div>
}


@section Scripts {
   
}
