
@model RaceAnalysis.Models.AgeGroupCompareViewModel



<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<div>
    <div id='@Model.UniqueId' style="width: 100%; height: 500px;"></div>
   
    <script type="text/javascript">

            google.charts.load('current', { 'packages': ['corechart', 'bar'] });

            google.charts.setOnLoadCallback(function () {
                var title = '@Model.Filter.SelectedRaces.First().DisplayName, ' + '  ' + '@Model.Stats.Sum(s => s.Athletes.Count)' + ' Athletes Selected';

                var dataTable = new google.visualization.DataTable(
                  @Html.Raw(Json.Encode(Model.ChartDataMedian))
              );



                var options = {
                    title: title,
                    bar: {
                        groupWidth: '100',
                        minValue: 0,
                    },
                    hAxis: {

                        title: 'Median Finish Times',

                    }

                };

               var chart = new google.visualization.BarChart(document.getElementById('@Model.UniqueId'));
                  chart.draw(dataTable, options);

            });


    </script>
</div>



