
@model RaceAnalysis.Models.TriStats


<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<div>
    <div id='@Model.Race.DisplayName' style="width: 600px; height: 500px;"></div>
    <script type="text/javascript">
            google.charts.load('current', { 'packages': ['corechart', 'bar'] });

            google.charts.setOnLoadCallback(function () {
                var title = '@Model.Race.DisplayName' + '  (@Model.Athletes.Count ' + 'Athletes)';
                var vAxis = "Duration (HRS)";
                var hAxis = "Slowest,Median,Fastest Times"


                var dataTable = new google.visualization.DataTable(
                    @Html.Raw(Json.Encode(Model.ChartData))
                );

               // drawBarChart('@Model.Race.DisplayName', title, subtitle, dataTable);
                drawColumnChart('@Model.Race.DisplayName', title,hAxis,vAxis, dataTable);
                
            });

    </script>
</div>


  