@model RaceAnalysis.Models.TriathletesViewModel
@using RaceAnalysis.Models;


@{
    var queryViewModel = new SimpleFilterViewModel
    {
        Races = @String.Join(",", Model.Filter.SelectedRaceIds.Select(x => x.ToString()).ToArray()),
        AgeGroups = @String.Join(",", Model.Filter.SelectedAgeGroupIds.Select(x => x.ToString()).ToArray()),
        Genders = @String.Join(",", Model.Filter.SelectedGenderIds.Select(x => x.ToString()).ToArray()),

        swimlowtimevalue = Model.Filter.SwimLow.TotalMinutes.ToString(),
        swimhightimevalue = Model.Filter.SwimHigh.TotalMinutes.ToString(),

        bikelowtimevalue = Model.Filter.BikeLow.TotalMinutes.ToString(),
        bikehightimevalue = Model.Filter.BikeHigh.TotalMinutes.ToString(),

        runlowtimevalue = Model.Filter.RunLow.TotalMinutes.ToString(),
        runhightimevalue = Model.Filter.RunHigh.TotalMinutes.ToString(),

        finishlowtimevalue = Model.Filter.FinishLow.TotalMinutes.ToString(),
        finishhightimevalue = Model.Filter.FinishHigh.TotalMinutes.ToString()

    };

    AjaxOptions ajaxOptions = new AjaxOptions
    {
        LoadingElementId = "loading-area",
        LoadingElementDuration = 1000,
        Url = Url.Action("AthleteSearch"),
      //  OnBegin = "HideForm",
        OnFailure = "ShowFailure",
        OnSuccess = "OnSuccess",
        UpdateTargetId = "results-area"
    };
}

<script src="~/Scripts/jquery.rowselector.min.js"></script>

<script src="~/Scripts/typeahead.bundle.js"></script>

<div id="results-header">

    <h4>@Model.TotalCount   Finishers  (@Model.Filter.SelectedRaceNames)</h4>

    
        @using (Ajax.BeginForm(ajaxOptions))
            {
            @Html.AntiForgeryToken()

            <div class="athletes-list-search-form">
             @Html.TextBox("SearchByName", null, new { @class = "form-control inline", placeholder = "Search Name" })
      
                                                                                                                       s            <button type="submit" id="submitButton" class="btn btn-primary">Search</button>

                @Html.ActionLink("All", "ShowAll", "Triathletes",
                 queryViewModel, new { @id = "action-show-athletes", @class = "btn btn-default", @style="display:none", title = "Show All" })

             </div>

        }
    

    @Html.ActionLink("Compare Athletes", "Compare", "Triathletes",
                 queryViewModel, new { @id = "action-compare-athletes", @class = "btn btn-default", title = "Display Comparison" })


</div>

<div id="results-area">
    @Html.Partial("~/Views/Shared/_OnePageOfAthletes.cshtml", Model)
</div>

<script type="text/javascript">
    /**
        var athletes = new Bloodhound({
            datumTokenizer: Bloodhound.tokenizers.obj.whitespace('value'),
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            //prefetch: 'JsonAthleteSearchxx.json',
            remote: {
                url: 'JsonAthleteSearch?query=%QUERY',
                valueKey: "name"

            }
        });
        athletes.initialize();
    ***/
    $(function () {
        SetupTipeahead();
    });
    function SetupTipeahead() {
        
        var engine = new Bloodhound({
            remote: {
                url: 'JsonAthleteSearch?query=%QUERY',
                wildcard: '%QUERY',
                ajax: {
                    type: 'GET'
                }
            },
            datumTokenizer: function (d) {
                return Bloodhound.tokenizers.whitespace(d.FullName);
            },
            queryTokenizer: Bloodhound.tokenizers.whitespace
        });

        engine.initialize();

        $('#SearchByName').typeahead(
            {
                minLength:2
            },
            {
            //displayKey: 'value',
            
            source: engine.ttAdapter(),
            templates: {
                empty: [
                                    '<div class="empty-message">',
                                    'No match',
                                    '</div>'
                ].join('\n'),
                suggestion: function (data) {
                    return '<p class="">' + data.FullName + '</p><p class="">' + data.ManNumber + '</p>';
                }
            }
        });
    }
            function OnSuccess() {
                $('#action-compare-athletes').hide();
                $('#action-show-athletes').show();

            }
            function HideForm() {
                //When the form is submitted, we hide the form
                //$(".email-form").hide();
            }
            function ShowFailure() {
                //In the case that the AJAX call fails to communicate with the server
                //(e.g. the user's internet connection cuts out), we should display a message to that effect
                $('#message-area').html("<div class='alert alert-danger'><strong>Error!</strong>The server could not be contacted and your message has not been sent. Please check your internet connection and try again later.</div>");
            alert("failed!");
            }



    $('#config-form').on('submit', function (evt) {

            evt.preventDefault();
        });

    $('#action-compare-athletes').on('click', actionSelected); //note this gets overridden by the child ajax partialview
    $('#action-compare-athletes').attr("disabled", true); //disable until user selects rows

    function actionSelected(evt) {
        
            if ($('#action-compare-athletes').attr('disabled') == 'disabled') {
                return false;
            }

            var selected = [];
            $('#athletes-table').selectedrows().each(function (idx, el) {
                if (el.id.length > 0) {
                    selected.push(el.id);
                }
            });


            if (selected.length > 0) {

                this.href += "&selectedAthletes=" + selected.join(', ');
            }
            else {
                return false;
            }

        }


        //$('#action-compare').on('click', actionSelected);

        $('#select-type').on('change', function (evt) {
            $('#athletes-table').attr('data-rs-type', $(this).val());
            //alert("onchange-rs-type");
        });


        $('#select-class').on('change', function (evt) {
            $('#athletes-table').attr('data-rs-class', $(this).val());

            //alert("onchange rs-class");
        });


        $('#athletes-table').on('clicked.rs.row', function (evt) {

            var numrows = $(this).selectedrows().length;
            if (numrows > 0) {
                $('#action-compare-athletes').attr("disabled", false);
            }
            else {
                $('#action-compare-athletes').attr("disabled", true);

            }

        });


</script>