
@model RaceAnalysis.Models.TriStats


   <p/>
    <div>
       
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th>Swim</th>
                        <th>Bike</th>
                        <th>Run</th>
                        <th>Finish</th>
                        <th>Div Rank</th>
                        <th>Gender Rank</th>
                        <th>Overall Rank</th>
                        <th>Points Rank</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Fastest:</td>
                        <td>@Html.DisplayFor(s => Model.Swim.Min) </td>
                        <td>@Html.DisplayFor(s => Model.Bike.Min) </td>
                        <td>@Html.DisplayFor(s => Model.Run.Min)</td>
                        <td>@Html.DisplayFor(s => Model.Finish.Min)</td>
                        <td>@Html.DisplayFor(s => Model.DivRank.Min)</td>
                        <td>@Html.DisplayFor(s => Model.GenderRank.Min)</td>
                        <td>@Html.DisplayFor(s => Model.OverallRank.Min)</td>
                        <td>@Html.DisplayFor(s => Model.Points.Min)</td>
                    </tr>
                    <tr>
                        <td>Slowest:</td>
                        <td>@Html.DisplayFor(s => Model.Swim.Max) </td>
                        <td>@Html.DisplayFor(s => Model.Bike.Max) </td>
                        <td>@Html.DisplayFor(s => Model.Run.Max)</td>
                        <td>@Html.DisplayFor(s => Model.Finish.Max)</td>
                        <td>@Html.DisplayFor(s => Model.DivRank.Max)</td>
                        <td>@Html.DisplayFor(s => Model.GenderRank.Max)</td>
                        <td>@Html.DisplayFor(s => Model.OverallRank.Max)</td>
                        <td>@Html.DisplayFor(s => Model.Points.Max)</td>
                    </tr>
                    <tr>
                        <td>Median:</td>
                        <td>@Html.DisplayFor(s => Model.Swim.Median) </td>
                        <td>@Html.DisplayFor(s => Model.Bike.Median) </td>
                        <td>@Html.DisplayFor(s => Model.Run.Median)</td>
                        <td>@Html.DisplayFor(s => Model.Finish.Median)</td>
                        <td>@Html.DisplayFor(s => Model.DivRank.Median)</td>
                        <td>@Html.DisplayFor(s => Model.GenderRank.Median)</td>
                        <td>@Html.DisplayFor(s => Model.OverallRank.Median)</td>
                        <td>@Html.DisplayFor(s => Model.Points.Median)</td>

                    </tr>
                    <tr>
                        <td>Average:</td>
                        <td>@Html.DisplayFor(s => Model.Swim.Average) </td>
                        <td>@Html.DisplayFor(s => Model.Bike.Average) </td>
                        <td>@Html.DisplayFor(s => Model.Run.Average)</td>
                        <td>@Html.DisplayFor(s => Model.Finish.Average)</td>
                        <td>@Html.DisplayFor(s => Model.DivRank.Average)</td>
                        <td>@Html.DisplayFor(s => Model.GenderRank.Average)</td>
                        <td>@Html.DisplayFor(s => Model.OverallRank.Average)</td>
                        <td>@Html.DisplayFor(s => Model.Points.Average)</td>
                    </tr>

                    <tr>
                        <td>Standard Dev:</td>
                        <td>@Html.DisplayFor(s => Model.Swim.StandDev) </td>
                        <td>@Html.DisplayFor(s => Model.Bike.StandDev) </td>
                        <td>@Html.DisplayFor(s => Model.Run.StandDev)</td>
                        <td>@Html.DisplayFor(s => Model.Finish.StandDev)</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>First Quartile</td>
                        <td>@Html.DisplayFor(s => Model.Swim.NormalFastest) </td>
                        <td>@Html.DisplayFor(s => Model.Bike.NormalFastest) </td>
                        <td>@Html.DisplayFor(s => Model.Run.NormalFastest)</td>
                        <td>@Html.DisplayFor(s => Model.Finish.NormalFastest)</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Third Quartile:</td>
                        <td>@Html.DisplayFor(s => Model.Swim.NormalSlowest) </td>
                        <td>@Html.DisplayFor(s => Model.Bike.NormalSlowest) </td>
                        <td>@Html.DisplayFor(s => Model.Run.NormalSlowest)</td>
                        <td>@Html.DisplayFor(s => Model.Finish.NormalSlowest)</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>


                </tbody>
        


            </table>
        </div> <!--responsive-->
     </div> <!--container-->


