@model RaceAnalysis.Models.TriathletesViewModel

@using RaceAnalysis.Models;

@{
    var queryViewModel = new SimpleFilterViewModel
    {
        Races = @String.Join(",", Model.Filter.SelectedRaceIds.Select(x => x.ToString()).ToArray()),
        AgeGroups = @String.Join(",", Model.Filter.SelectedAgeGroupIds.Select(x => x.ToString()).ToArray()),
        Genders = @String.Join(",", Model.Filter.SelectedGenderIds.Select(x => x.ToString()).ToArray()),

        swimlowtimevalue = Model.Filter.SwimLow.TotalMinutes.ToString(),
        swimhightimevalue = Model.Filter.SwimHigh.TotalMinutes.ToString(),

        bikelowtimevalue = Model.Filter.BikeLow.TotalMinutes.ToString(),
        bikehightimevalue = Model.Filter.BikeHigh.TotalMinutes.ToString(),

        runlowtimevalue = Model.Filter.RunLow.TotalMinutes.ToString(),
        runhightimevalue = Model.Filter.RunHigh.TotalMinutes.ToString(),

        finishlowtimevalue = Model.Filter.FinishLow.TotalMinutes.ToString(),
        finishhightimevalue = Model.Filter.FinishHigh.TotalMinutes.ToString()

    };
}

<script src="~/Scripts/jquery.rowselector.min.js"></script>

<div id="results-header">

    <h4>@Model.TotalCount   Finishers  (@Model.Filter.SelectedRaceNames)</h4>

    @Html.ActionLink("Compare Athletes", "Compare", "Triathletes",
                 queryViewModel, new { @id = "action-compare-athletes", @class = "btn btn-default", title = "Display Comparison" })


</div>
<div>
    @Html.Partial("~/Views/Shared/_OnePageOfAthletes.cshtml", Model)
</div>

<script type="text/javascript">

    $('#config-form').on('submit', function (evt) {

            evt.preventDefault();
        });

    $('#action-compare-athletes').on('click', actionSelected); //note this gets overridden by the child ajax partialview
    $('#action-compare-athletes').attr("disabled", true); //disable until user selects rows

    function actionSelected(evt) {
        
            if ($('#action-compare-athletes').attr('disabled') == 'disabled') {
                return false;
            }

            var selected = [];
            $('#athletes-table').selectedrows().each(function (idx, el) {
                if (el.id.length > 0) {
                    selected.push(el.id);
                }
            });


            if (selected.length > 0) {

                this.href += "&selectedAthletes=" + selected.join(', ');
            }
            else {
                return false;
            }

        }


        //$('#action-compare').on('click', actionSelected);

        $('#select-type').on('change', function (evt) {
            $('#athletes-table').attr('data-rs-type', $(this).val());
            //alert("onchange-rs-type");
        });


        $('#select-class').on('change', function (evt) {
            $('#athletes-table').attr('data-rs-class', $(this).val());

            //alert("onchange rs-class");
        });


        $('#athletes-table').on('clicked.rs.row', function (evt) {

            var numrows = $(this).selectedrows().length;
            if (numrows > 0) {
                $('#action-compare-athletes').attr("disabled", false);
            }
            else {
                $('#action-compare-athletes').attr("disabled", true);

            }

        });


</script>