
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layouts/_Layout.cshtml";
}

<h2>Admin Quick Links</h2>
<div class="admin-links">
    @Html.ActionLink("Races-New", "list", "Races")

    @Html.ActionLink("Races", "admin", "Races")

    @Html.ActionLink("Request Contexts", "Search", "RequestContexts")
    @Html.ActionLink("Tags", "Index", "Tags")
    @Html.ActionLink("App Features", "Admin", "AppFeatures")
   

<a href="https://portal.azure.com/#resource/subscriptions/c9693189-9841-4fde-b58b-b55677280dc7/resourceGroups/RaceAnalysisResourceGroup/providers/Microsoft.Web/sites/RaceAnalysis20161025071652/webJobs">Web Jobs</a>

<a href="https://raceanalysis20161025071652.scm.azurewebsites.net/azurejobs/#/functions">See running jobs</a>




</div>
