@model RaceAnalysis.Models.AgeGroupAggregate

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Layouts/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>AgeGroupAggregate</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AgeGroup.Value)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AgeGroup.Value)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender.Value)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender.Value)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Race.BaseURL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Race.BaseURL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AthleteCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AthleteCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DNFCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DNFCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaleCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaleCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FemaleCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FemaleCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SwimMedian)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SwimMedian)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BikeMedian)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BikeMedian)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RunMedian)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RunMedian)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FinishMedian)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FinishMedian)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SwimFastest)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SwimFastest)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BikeFastest)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BikeFastest)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RunFastest)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RunFastest)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FinishFastest)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FinishFastest)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SwimSlowest)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SwimSlowest)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BikeSlowest)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BikeSlowest)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RunSlowest)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RunSlowest)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FinishSlowest)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FinishSlowest)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SwimStdDev)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SwimStdDev)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BikeStdDev)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BikeStdDev)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RunStdDev)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RunStdDev)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FinishStdDev)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FinishStdDev)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
