
@model RaceAnalysis.Models.HistogramViewModel

   
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<div>
    <h4>@Model.Triathletes.Count()  Finishers   (@Model.Filter.SelectedRaceNames)</h4>
    <div id='FinishDiv' style="width: 100%; height: 500px;"></div>
    <div id='SwimDiv' style="width: 100%; height: 500px;"></div>
    <div id='BikeDiv' style="width: 100%; height: 500px;"></div>
    <div id='RunDiv' style="width: 100%; height: 500px;"></div>

    <script type="text/javascript">

            google.charts.load('current', { 'packages': ['corechart'] });

            google.charts.setOnLoadCallback(function () {
                drawFinishChart();
            });
            google.charts.setOnLoadCallback(function () {
                drawSwimChart();
            });
            google.charts.setOnLoadCallback(function () {
                drawBikeChart();
            });
            google.charts.setOnLoadCallback(function () {
                drawRunChart();
            }); 

        function drawFinishChart()
        {
            var title = 'Median Finish Time: ' + '@Model.FinishMedian';
            var data = google.visualization.arrayToDataTable(
                       @Html.Raw(Json.Encode(Model.FinishData))
                   );
            var options = {
                title: title,
                legend: { position: 'none' },
                hAxis: {
                    title: "Finish Time in Hrs",
                    //ticks: [3,4,5,6,7,8, 9, 10, 11, 12, 13, 14, 15, 16, 17]
                },
                bar: { gap: 1 },
                vAxis: { title: '# of Athletes' },
                colors: ['#990099'],
            }

            var chart = new google.visualization.Histogram(document.getElementById('FinishDiv'));
            chart.draw(data, options);
        }

        function drawSwimChart()
        {
            var title = 'Median Swim Time: ' + '@Model.SwimMedian';
            var data = google.visualization.arrayToDataTable(
                       @Html.Raw(Json.Encode(Model.SwimData))
                   );
            var options = {
                title: title,
                legend: { position: 'none' },
                hAxis: {
                    title: "Swim Time in Hrs",
                    format:'#.##'
                    //ticks: [.5,.75,1,1.25,1.5,1.75,2,2.25,2.5]
                },
                bar: { gap: 1 },
                vAxis: { title: '# of Athletes' },
                colors: ['#4285F4'],
            }

            var chart = new google.visualization.Histogram(document.getElementById('SwimDiv'));
            chart.draw(data, options);
        }
        function drawBikeChart()
        {
            var title = 'Median Bike Time: ' + '@Model.BikeMedian';
            var data = google.visualization.arrayToDataTable(
                       @Html.Raw(Json.Encode(Model.BikeData))
                   );
            var options = {
                title: title,
                legend: { position: 'none' },
                hAxis: {
                    title: "Bike Time in Hrs",
                    //ticks: [3,4,5,6,7,8,9,10]
                    format: '#.##'
                },
                bar: { gap: 1 },
                vAxis: { title: '# of Athletes' },
                colors: ['#eb6f60'],
            }

            var chart = new google.visualization.Histogram(document.getElementById('BikeDiv'));
            chart.draw(data, options);
        }
        function drawRunChart()
        {
            var title = 'Median Run Time: ' + '@Model.RunMedian';
            var data = google.visualization.arrayToDataTable(
                       @Html.Raw(Json.Encode(Model.RunData))
                   );
            var options = {
                title: title,
                legend: { position: 'none' },
                hAxis: {
                    title: "Run Time in Hrs",
                    format: '#.##'
                    //ticks: [2.5,3.5,4,4.5,5,5.5,6,6.5,7]
                },
                bar: { gap: 1 },
                vAxis: { title: '# of Athletes' },
                colors: ['#109618'],
            }

            var chart = new google.visualization.Histogram(document.getElementById('RunDiv'));
            chart.draw(data, options);
        }
    </script>
</div>


