@model RaceAnalysis.Models.BaseViewModel
@{
    ViewBag.BodyClass= "analysis";
    Layout = "~/Views/Layouts/_Layout.cshtml";
}
@RenderSection("scripts", required: false)




<div class="container-analysis">
    <div class="row">
        <div class="col-sm-3">
            <div id="filter">
                @Html.Partial("~/Views/Shared/_VertRaceFilter.cshtml", Model.Filter)
                @RenderSection("filter", required: false)
            </div>
        </div>
      
        <div class="col-sm-9">
            <div id="page-header">
                <h3>@ViewBag.Title</h3>
                @RenderSection("Page_Header", required: false)
             <!--   <div class="help-tip"> -->
                    <p>@PageData["Instructions"]</p>
              <!-- </div> -->
                <p></p> <p></p>
                @RenderBody()
            </div>
            <div id="page-actions">
                @RenderSection("Page_Actions", required: false)
            </div>

            <div id="results">
                <div id="modal-container" class="modal fade"
                     tabindex="-1" role="dialog">
                    <div class="modal-content">
                    </div>
                </div>

                @RenderSection("results", required: false)
            </div> <!--results-->
        </div> <!--col-->
    </div> <!--row-->
</div><!--container-->


