@model RaceAnalysis.Models.BaseViewModel
@{
    ViewBag.Title = "_AnalysisLayout";
    Layout = "~/Views/Layouts/_Layout.cshtml";
}
@section scripts {
    <script type="text/javascript" src="@Url.Content("~/Scripts/modal.js")"></script>
   
}


<style>
    .modal-content {
        width: 600px !important;
        margin: 30px auto !important;
    }
</style>



<div class="container">
    <div class="row">
        <div class="col-sm-9">
            <div id="filter">
                 
                @Html.ActionLink("Select Races", "ShowFilterByRace", null,
                          new
                          {
                              races = @String.Join(",", Model.Filter.SelectedRaces.Select(x => x.RaceId.ToString()).ToArray()),
                              agegroups = @String.Join(",", Model.Filter.SelectedAgeGroups.Select(x => x.AgeGroupId.ToString()).ToArray()),
                              genders = @String.Join(",", Model.Filter.SelectedGenders.Select(x => x.GenderId.ToString()).ToArray())
                          },
                          new { @class = "modal-link btn btn-success btnRaceFilter", title = "Select Race Criteria" })
                @RenderSection("filter", required: false)
            </div>
        </div>
    </div>
        <div class="row">
            <div class="col-sm-9">
                @RenderBody()
                <div id="results">
                    <div id="modal-container" class="modal fade"
                         tabindex="-1" role="dialog">
                        <div class="modal-content">
                        </div>
                    </div>
                    @RenderSection("results", required: false)
                </div>

            </div>
        </div>
    </div><!--container-->


