@using RaceAnalysis.Helpers

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Race Analysis</title>
    @Styles.Render("~/bundles/css")
    @Styles.Render("~/bundles/themes/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/site")
    @Scripts.Render("~/bundles/select2")

    @RenderSection("scripts", required: false)



</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Race Analysis", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class='@Html.IsActive("Home", "Index")'>
                        @Html.ActionLink("Home", "Index", "Home")
                    </li>
                    <li class='@Html.IsActive("Triathletes", "Index")'>
                        @Html.ActionLink("Triathletes", "Index", "Triathletes")
                    </li>
                    
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Race Stats<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li class='@Html.IsActive("TriStatsSummary", "Index")'>
                                @Html.ActionLink("Summary", "Index", "TriStatsSummary")
                            </li>
                            <li class='@Html.IsActive("TriStats", "Index")'>
                                @Html.ActionLink("Detail", "Index", "TriStats")
                            </li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Compare...<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li class='@Html.IsActive("TriStatsRaceComparer", "Index")'>
                                @Html.ActionLink("Races", "Index", "TriStatsRaceComparer")
                            </li>
                            <li class='@Html.IsActive("TriStatsAgeGroupsCompare", "Index")'>
                                @Html.ActionLink("Age Groups", "Index", "TriStatsAgeGroupsCompare")
                            </li>
                        </ul>
                     </li>

                            <li class='@Html.IsActive("Home", "About")'>
                                @Html.ActionLink("About", "About", "Home")
                            </li>

                            <li class='@Html.IsActive("Home", "Contact")'>
                                @Html.ActionLink("Contact", "Contact", "Home")
                            </li>
                        </ul>
                  

                        @Html.Partial("_LoginPartial")
</div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Race Analysis by TriTone Software</p>
        </footer>
    </div>
    
    </body> 
</html>
