@using RaceAnalysis.Helpers

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/bundles/css")
    @Styles.Render("~/bundles/themes/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/site")
    @Scripts.Render("~/bundles/select2")

    @RenderSection("scripts", required: false)



</head>
<body class="@ViewBag.BodyClass">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
           
               @Html.ActionLink(".  text-indent: -9999px; /* hides the link text */", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
               <span>tri&bull;stats</span>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                 
                    <li class='@Html.IsActive("TriStatsSummary", "Index")'>
                        @Html.ActionLink("Analyze", "Index", "TriStatsSummary")
                    </li>
                    <li class='@Html.IsActive("Hypotheticals", "Index")'>
                        @Html.ActionLink("How would I do?", "Index", "Hypotheticals")
                    </li>

                    <li class='@Html.IsActive("Search", "Index")'>
                        @Html.ActionLink("Search", "Index", "Search")
                    </li>
                    <li class='@Html.IsActive("Home", "About")'>
                        @Html.ActionLink("About", "About", "Home")
                    </li>

                    <li class='@Html.IsActive("Home", "Contact")'>
                        @Html.ActionLink("Contact", "Contact", "Home")
                    </li>
                        </ul>
                  

                       <!--Html.Partial("_LoginPartial")-->
</div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - TriStats by TriTone Software</p>
        </footer>
    </div>
    
    </body> 
</html>
