@model RaceAnalysis.Models.AgeGroupCompareViewModel
@{
    ViewBag.Title = "Histogram";
    Layout = "~/Views/Layouts/_AnalysisLayout.cshtml";
}

<h2>Tri Stats Age Group Compare</h2>

@section filter{<div id="myemptydiv"></div>}




@Html.ActionLink("Select Races", "ShowFilterByRace", null,
                                           new
                                           {
                                               races = @String.Join(",", Model.Filter.SelectedRaces.Select(x => x.RaceId.ToString()).ToArray()),
                                               agegroups = @String.Join(",", Model.Filter.SelectedAgeGroups.Select(x => x.AgeGroupId.ToString()).ToArray()),
                                               genders = @String.Join(",", Model.Filter.SelectedGenders.Select(x => x.GenderId.ToString()).ToArray())
                                           },


                                           new { @class = "modal-link btn btn-success", title = "Select Races" })

@section results{
    @if (Model.Stats.Count > 0)
    {
        @Html.Partial("~/Views/Shared/_StatsAgeGroupsChart.cshtml", Model)

    }
}

